<head>
    <style>
        a.loser:link {color:#ff0000; font-size:300%; background-color: #ff0000;}
        a.loser:visited {color:#ffe600;}
    </style>
    <title>!!!!YOU LOSE!!!!</title>
    
</head>
<body>
    <link href="loss.css" rel="stylesheet" type="text/css" media="all">
    <a class="loser" href="/">You Lose</href>
</body>
</html>