body {
    background-image: url('https://media.tenor.com/C57PHfQX07sAAAAC/cuphead-evil-laugh.gif');
    background-size: 1920px 1080px;
    color: yellow;
    font-family: "Impact"; font-size: 100px, "Normal";
    padding: 540px 0;
    text-align: center
  }