<head>
    <style>
        a.loser:link {color:#ffffff; font-size:300%; background-color: #ffffff;}
        a.loser:visited {color:#ffe600;}
    </style>
    <title>!!!!YOU WIN!!!!</title>
    
</head>
<body>
    <link href="win.css" rel="stylesheet" type="text/css" media="all">
    <a class="loser" href="/">You Win</href>
</body>
</html