<h1>Welcome <%= name %>!</h1>
<h3>Wins: <%= wins %> | Losses: <%= losses %></h3>
<form action="/" method="POST">
    <button>Battle</button>
</form>
<form action="/leaderboard" method="POST">
    <button>Leaderboard</button>
</form>
<form action="/logout" method="POST">
    <button>Logout</button>
</form>